{
  "presets": ["es2015"],
  "plugins": [
    [
      "module-alias", [
      {"src": "./src", "expose": "cf-hpe"},
      {"src": "./src/lib", "expose": "lib"},
      {"src": "./src/app", "expose": "app"}
    ]
    ],
    "transform-object-rest-spread"
  ]
}
