{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/resolver": {
      "babel-module-alias": {}
    }
  },
  "rules": {
    "no-underscore-dangle": ["off"]
  }
}
